need to be \r\n instead of \n

Your calendar is using an invalid newline format. Make sure to use \r\n to end lines rather than just \n ([RFC 2445 §4.1](http://tools.ietf.org/html/rfc2445#section-4.1)).

see http://severinghaus.org/projects/icv/